spring:
  application:
    name: todoapp

  datasource:
    url: jdbc:mysql://localhost:3306/todoapp
    username: root
    password: sankethisapro

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
